* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

#titulo{
    font-size: 40px;
    letter-spacing: 8px;
    color: white;
    font-family: 'Monoton', cursive;
}


#header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(148,170,159);
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

#header-img{
    width: 90px;
    margin-left: 50px;
}

#nav-bar{
    width: 50%;
}

#list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    min-width: fit-content;
    height: 30px;
    margin-right: 120px;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%;
}

#presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(3, 54, 28, 0.422);
    max-width: 800px;
    height: 400px;
    padding: 30px 50px 30px 50px;
    margin-top: 70px;
    border-radius: 10px;
    text-align: center;
}

h1{
    font-size: 42px;
}

p{
    font-size: 17px;
}

#vid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    background-color: rgb(232, 235, 235);
    width: 100%;
    height: 550px;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 80px;
}

#formulario{
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 30%;
    background-color: aqua;
}

#form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 35px;
}
#email{
    width: 250px;
    border-radius: 5px;
    padding: 5px;
}

#submit{
    width: 80px;
    border-radius: 5px;
}
ul{
    list-style: none;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(3, 54, 28, 0.422);
    color: white;
    text-decoration: none;
    width: 100%;
    padding-inline: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

@media (max-width: 1080px) {
    .footer{
        padding-inline: 10%;
    }
}

@media (max-width: 940px){
    #form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80px;
        justify-content: space-around;
    }
}